body {
    margin: 0;
    height: 100vh;
    /*cursor: none;*/
    overflow-x: hidden;
    overflow-y: hidden;
}

canvas {
    display: block;
}

h1 {
    position: absolute;
    top: 2em;
    left: 2em;
    font-family: 'Montserrat', serif;
    font-size: 7em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    padding: .2em;
}

div{
    width: 100%;
    height: 100%;
    cursor: none;
    overflow-x: hidden;
    overflow-y: scroll;
}
iframe {
    width: 100%;
    height: 50000px;
    pointer-events: none;
}

button{
    width: 100%;
}